<article id="instructions">
  <h2>Instructions</h2>
  <p>The Facebook messages browser allows you to browse your archived Facebook threads, which you can download from your Facebook account (in JSON format)</p>
  <p>To download your Facebook threads in JSON format, follow these instructions: </p>
  <ul>
    <li>Go to your Facebook account settings page</li>
    <li>Select the "Your personal information" tab from the left panel</li>
    <li>Click on "Download your information"</li>
    <li>Deselect all checkboxes except for "Messages". <strong>In the "Format" dropdown menu, select "JSON"</strong>. Optionally, provide a date range.</li>
    <li>Click on "Create a file"</li>
    <li>Once it has been created, download the archive</li>
    <li>Unpack the archive such that the messages/ folder is in the same directory as this file.</li>
  </ul>
  <p>To view your Facebook threads, follow these instructions: </p>
  <ul>
    <li>Locate the JSON of the threads you want to upload in messages/inbox/</li>
    <li>Upload them using the button in the left sidebar. <strong>Note: if there are multiple files for the same thread (e.g.: message_1.json, message_2.json, etc.), select all of them at the same time to merge them.</strong></li>
  </ul>
</article>
